@charset "UTF-8";
body {
  background-color: #fff;
  color: #6d6d6d;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400; }

/* h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat",sans-serif;
	font-weight: 800;}
	
	subtitl {
	color: #FFFFFF;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 24px;
    font-weight: 500;}

transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

	*/
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto; }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

.header {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(20, 29, 56, 0.149);
  padding: 40px 0px 40px 0px; }

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__contact {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
  align-items: center; }
  .header__contact::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/phone-svg.svg);
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    right: 155px;
    transform: translateY(40%); }

.header__contact-time {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
  color: #1a1b1e; }

.header__contact-phono {
  color: #1a1b1e;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600; }

.menu__list {
  display: flex;
  column-gap: 30px;
  justify-content: center; }

.menu__link {
  font-weight: 700;
  font-size: 18px;
  color: #1a1b1e;
  transition: color 0.4s ease-out; }
  .menu__link:hover {
    color: #43baff; }

.nav-button {
  display: none; }

.row {
  display: flex;
  column-gap: 20px;
  align-items: center; }

.input__model {
  max-width: 20%; }

.input__model::placeholder {
  color: #fff;
  font-size: 14px; }

.input__sumbut {
  max-width: 20%;
  color: #fff;
  background-color: #393939; }

@media (max-width: 1100px) {
  .row {
    flex-wrap: wrap; } }
@media (max-width: 950px) {
  .nav-button {
    display: block;
    top: 3px;
    right: 30px;
    position: fixed;
    width: 54px;
    height: 50px;
    z-index: 9; }

  .menu__list {
    display: none; }

  .header__row {
    justify-content: center;
    column-gap: 30px; }

  .menu {
    display: flex;
    justify-content: flex-end; }

  .nav-button {
    display: block;
    top: 3px;
    right: 30px;
    position: fixed;
    width: 54px;
    height: 50px;
    z-index: 9; }

  .menu.open .menu__list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    z-index: 1;
    padding: 46px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 35px;
    font-size: 34px;
    font-weight: 600; }

  .menu__link {
    transition: color 0.3s ease; }

  .menu__link:hover {
    color: #43baff; } }
/* mobile menu */
@media (max-width: 680px) {
  .logo__img {
    width: 200px; } }
@media (max-width: 625px) {
  .header__row {
    flex-direction: column;
    row-gap: 15px; } }
@media (max-width: 400px) {
  .header__row {
    row-gap: 10px; }

  .logo__img {
    width: 160px; }

  .nav-button {
    right: 10px; } }
.info {
  background-image: url(../img/bg-banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-bottom: 125px; }

.row__info {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px; }

.info__content {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  row-gap: 10px; }

.info__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.11;
  color: #1a1b1e;
  order: 2; }

.info__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: var(#1a1b1e);
  order: 1; }

.info__text {
  order: 3; }

.row-custom {
  display: flex;
  column-gap: 30px; }

.custom__box {
  position: relative;
  display: flex;
  width: 33.3%;
  padding: 30px 40px 30px 40px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: linear-gradient(110deg, #2b236e 0%, #7141b1 100%);
  box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.2);
  margin-top: -50px;
  z-index: 2; }

.custom__box-text {
  color: #fff;
  font-size: 22px;
  line-height: 36px;
  font-weight: 700;
  word-wrap: break-word;
  width: 250px; }

.custom__box-img {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  top: -88px;
  right: -88px;
  width: 188px;
  height: 188px;
  color: #fff; }

.transform {
  background-color: #f2f2f2;
  padding-top: 75px; }

.transform__content {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  margin-bottom: 45px; }

.transform__content-title {
  display: flex;
  flex-direction: column; }

.transform__title {
  order: 2;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #1a1b1e;
  line-height: 1.33;
  font-size: 36px; }

.transform__subtitle {
  order: 1;
  color: #7141b1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 8px; }

.transform__content_text {
  max-width: 700px;
  line-height: 2.33; }

.transform__block {
  display: flex;
  justify-content: space-between;
  column-gap: 10px; }

.block__inner1 {
  background-image: url(/img/flipbox1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: -90px;
  height: 270px;
  width: 370px; }

.block__inner2 {
  background-image: url(/img/flipbox1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: -90px;
  height: 270px;
  width: 370px; }

.block__inner3 {
  background-image: url(/img/flipbox1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: -90px;
  height: 270px;
  width: 370px; }

.transform__text {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  padding-top: 200px;
  padding-left: 50%; }

.services {
  margin-top: 230px;
  margin-bottom: 100px; }

.row__services {
  display: flex;
  flex-direction: column-reverse; }

.services__title {
  max-width: 500px;
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #1a1b1e;
  line-height: 1.33;
  font-size: 36px; }

.services__subtitle {
  color: #7141b1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 8px; }

.services__item {
  margin: 10px 0px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  justify-items: center;
  justify-content: space-around; }

.services__block1,
.services__block2,
.services__block3,
.services__block4,
.services__block5,
.services__block6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 45px;
  transition: all 0.5s ease; }

.services__block1:hover,
.services__block2:hover,
.services__block3:hover,
.services__block4:hover,
.services__block6:hover,
.services__block5:hover {
  box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, 0.1); }

.services__block1:hover .services__block-icon,
.services__block2:hover .services__block-icon,
.services__block3:hover .services__block-icon,
.services__block5:hover .services__block-icon,
.services__block6:hover .services__block-icon,
.services__block4:hover .services__block-icon {
  color: #43baff; }

.services__block-icon {
  color: #7141b1;
  padding-bottom: 15px;
  transition: all 0.5s ease;
  /*   &:hover {
    color: $hover-color-menu;
  } */ }

.services__block-title {
  margin-bottom: 17px;
  font-weight: 700;
  color: #1a1b1e;
  font-size: 22px;
  line-height: 1.2; }

.services__block-text {
  line-height: 2;
  padding-left: 10px; }

.technology {
  background-color: #211f3b;
  padding: 75px 0px; }

.row__technology {
  display: flex; }

.technology__content {
  width: 50%;
  padding-top: 50px;
  display: flex;
  flex-direction: column; }

.technology__title {
  max-width: 500px;
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #fff;
  line-height: 1.33;
  font-size: 36px;
  order: 2; }

.technology__subtitle {
  order: 1;
  color: #7141b1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 15px; }

.technology__text {
  color: #fff;
  order: 3;
  line-height: 2; }
  .technology__text + .technology__text {
    padding-top: 10px; }

.technology__cars {
  display: flex;
  width: 50%;
  column-gap: 35px;
  padding-top: 50px; }

.technology__cars-colum1 {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  row-gap: 60px; }

.technology__cars-colum2 {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 40px;
  row-gap: 60px; }

.technology__car {
  margin: -30px 0px 0px 0px;
  position: relative; }

.technology__car-img {
  filter: grayscale(90%);
  height: auto;
  max-width: 100%;
  transition: all 0.5s ease; }
  .technology__car-img:hover {
    filter: none; }

.technology__car-title {
  margin-bottom: 17px;
  font-weight: 700;
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
  position: absolute;
  top: 5px;
  left: 10%;
  z-index: 2; }

.projects {
  display: none;
  padding: 45px 0px;
  background-color: #f2f2f2; }

.projects__head {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
  margin-top: 25px; }

.projects__head-title {
  display: flex;
  flex-direction: column; }

.projects__title {
  order: 2;
  max-width: 500px;
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #1a1b1e;
  line-height: 1.33;
  font-size: 36px;
  order: 2; }

.projects__subtitle {
  order: 1;
  color: #7141b1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 15px; }

.projects__text {
  max-width: 500px; }

.projects__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); }

.projects__box {
  width: 370px;
  height: 370px; }

.projects__box figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  background: #527c82;
  text-align: center;
  cursor: pointer; }

.projects__box figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8; }

.projects__box figure figcaption {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 20px;
  padding-right: 15px; }

.projects__box figure figcaption::before,
.projects__box figure figcaption::after {
  pointer-events: none; }

.projects__box figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.projects__box figure projects__card-title {
  word-spacing: -0.15em;
  font-weight: 300; }

.projects__box figure projects__card-title span {
  font-weight: 800; }

.projects__box figure projects__card-title,
.projects__box figure p {
  margin: 0; }

.projects__box figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

/* Эффект при наведении */
figure.projects__card-img:hover img {
  opacity: 0.4;
  filter: grayscale(90%);
  transform: translate3d(0, 0, 0); }

figure.projects__card-img figcaption {
  text-align: right; }

figure.projects__card-img projects__card-title,
figure.projects__card-img p {
  position: absolute;
  right: 30px;
  left: 30px;
  padding: 10px 0; }

figure.projects__card-img p {
  bottom: 30px;
  line-height: 1.5;
  transform: translate3d(0, 100%, 0); }

figure.projects__card-img projects__card-title {
  top: 30px;
  transition: transform 0.5s ease;
  transform: translate3d(0, 20px, 0); }

figure.projects__card-img:hover projects__card-title {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.projects__card-img projects__card-title::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: #fff;
  content: "";
  transform: translate3d(0, 40px, 0); }

figure.projects__card-img projects__card-title::after,
figure.projects__card-img p {
  opacity: 0;
  transition: opacity 0.5s, transform 0.35s; }

figure.projects__card-img:hover projects__card-title::after,
figure.projects__card-img:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.consultation {
  background-image: url(/img/bg-cta-home2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px; }

.consultation__title {
  color: #fff;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 15px; }

.consultation__subtitle {
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
  line-height: 1.33;
  font-size: 72px; }

.consultation__tel a {
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
  line-height: 1.33;
  font-size: 72px; }

.footer {
  background-image: url(/img/bg-footer1.png);
  background-color: #211f3b;
  background-position: top center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 80px 0px; }

.footer__contact {
  display: flex;
  justify-content: space-around;
  margin-top: 65px; }

.footer__contact-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
  align-items: center; }

.footer__contact-img {
  padding-bottom: 25px; }

.footer__contact-text a {
  color: #fff;
  font-size: 18px; }

.footer__contact-text {
  color: #fff;
  font-size: 18px; }

.footer__menu {
  padding: 50px 0px; }

.footer__menu .menu__link {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500; }

.social__list {
  display: flex;
  column-gap: 50px;
  justify-content: center; }

.social__link {
  color: #fff; }

.scroll-to-top {
  position: relative; }

.btn-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20; }

.btn-style {
  background-color: #898889;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; }

.btn-style:hover {
  animation: none;
  background: #fff;
  color: #211f3b;
  border: 2px solid #211f3b; }

@keyframes movebtn {
  0% {
    transform: translateY(0px); }
  25% {
    transform: translateY(20px); }
  50% {
    transform: translateY(0px); }
  75% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0px); } }
/* section info */
@media (max-width: 1800px) {
  .info__img img {
    max-width: 450px; }

  .row__info {
    justify-content: center; } }
@media (max-width: 1590px) {
  .info__img img {
    max-width: 350px; } }
@media (max-width: 1400px) {
  .info {
    background-image: none; }

  .info__img img {
    max-width: 200px; } }
@media (max-width: 1200px) {
  .block__inner3,
  .block__inner2,
  .block__inner1 {
    margin-bottom: -90px;
    height: 250px;
    width: 320px; }

  .transform__text {
    font-size: 18px; }

  .transform__title {
    font-size: 30px; }

  .transform__content_text {
    max-width: 500px; }

  .row__services {
    padding-left: 45px; }

  .projects__content {
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-columns: repeat(3, minmax(100px, 1fr)); }

  .projects__box {
    max-width: 100%; }

  .consultation__subtitle,
  .consultation__tel a {
    font-size: 50px; } }
@media (max-width: 1000px) {
  .info__title {
    font-size: 50px; }

  .transform__content {
    column-gap: 15px; }

  .transform__content_text {
    max-width: 450px; }

  .services__block1,
  .services__block2,
  .services__block3,
  .services__block4,
  .services__block5,
  .services__block6 {
    padding: 40px 30px; }

  .technology__content {
    width: 400px; }

  .projects__card-img img {
    width: 350px;
    height: 350px; } }
@media (max-width: 850px) {
  .transform__content_text {
    max-width: 400px; }

  .services {
    margin-top: 130px; }

  .services__item {
    column-gap: 15px;
    row-gap: 20px; }

  .services__title {
    font-size: 30px; }

  .services__block1,
  .services__block2,
  .services__block3,
  .services__block4,
  .services__block5,
  .services__block6 {
    padding: 25px 20px; }

  .transform__block {
    row-gap: 10px;
    align-items: center; }

  .block__inner3,
  .block__inner2,
  .block__inner1 {
    margin-bottom: 0px;
    height: 250px;
    width: 350px; }

  .transform__title {
    font-size: 25px; }

  .transform__text {
    font-size: 16px;
    padding-left: 90px; }

  .technology__cars {
    width: 80%; }

  .technology__content {
    width: 100%;
    padding-bottom: 35px;
    align-items: center; }

  .row__technology {
    flex-direction: column;
    align-items: center; }

  .technology__title {
    font-size: 25px; }

  .consultation__subtitle,
  .consultation__tel a {
    font-size: 45px; } }
@media (max-width: 750px) {
  .transform__content {
    flex-direction: column;
    row-gap: 25px;
    align-items: center; }

  .transform__content_text {
    max-width: 100%; }

  .transform__text {
    padding-top: 170px; }

  .block__inner3,
  .block__inner2,
  .block__inner1 {
    height: 220px;
    width: 370px; }

  .technology {
    padding: 35px 0px; }

  .consultation__subtitle,
  .consultation__tel a {
    font-size: 35px;
    font-weight: 800; } }
@media (max-width: 700px) {
  .info__title {
    font-size: 40px; }

  .services__title {
    font-size: 25px; }

  .info__subtitle {
    font-size: 20px; }

  .info__img img {
    width: 200px;
    height: auto; }

  .block__inner3,
  .block__inner2,
  .block__inner1 {
    height: 170px; }

  .transform__text {
    font-weight: 600;
    padding-top: 136px;
    padding-left: 35%; }

  .consultation {
    padding: 80px 0px; }

  .services {
    margin-top: 70px; }

  .services__item {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px; } }
@media (max-width: 620px) {
  .consultation__subtitle,
  .consultation__tel a {
    font-size: 30px;
    font-weight: 800; }

  .consultation {
    padding: 50px 0px; }

  .transform__block {
    flex-wrap: wrap;
    justify-content: center; } }
@media (max-width: 590px) {
  .row__info {
    flex-direction: column;
    row-gap: 15px; }

  .info__content {
    align-items: center; }

  .info__title {
    font-size: 30px; }

  .info__subtitle {
    font-size: 18px; }

  .info__img img {
    width: 100px;
    height: auto; }

  .services__title {
    font-size: 20px; }

  .services__item {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    align-items: center; }

  .services {
    margin-top: 230px;
    margin-bottom: 30px; }

  .technology {
    padding: 35px 0px; }

  .consultation__title {
    font-size: 18px;
    padding-bottom: 15px; } }
@media (max-width: 520px) {
  .consultation__subtitle,
  .consultation__tel a {
    font-size: 25px; } }
@media (max-width: 390px) {
  .consultation__subtitle,
  .consultation__tel a {
    font-size: 15px; } }

/*# sourceMappingURL=main.css.map */
