@charset "UTF-8";
body {
  background-color: #fff;
  color: #6d6d6d;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400; }

/* h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat",sans-serif;
	font-weight: 800;}
	
	subtitl {
	color: #FFFFFF;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 24px;
    font-weight: 500;}

transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

	*/
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto; }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

.header {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(20, 29, 56, 0.149);
  padding: 40px 0px 40px 0px; }

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__contact {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative; }
  .header__contact::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/phone-svg.svg);
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    right: 170px;
    transform: translateY(40%); }

.header__contact-time {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
  color: #1a1b1e; }

.header__contact-phono {
  color: #1a1b1e;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600; }

.menu__list {
  display: flex;
  column-gap: 30px; }

.menu__link {
  font-weight: 700;
  font-size: 18px;
  color: #1a1b1e;
  transition: color 0.4s ease-out; }
  .menu__link:hover {
    color: #43baff; }

.row {
  display: flex;
  column-gap: 20px;
  align-items: center; }

.input__model {
  max-width: 20%; }

.input__model::placeholder {
  color: #fff;
  font-size: 14px; }

.input__sumbut {
  max-width: 20%;
  color: #fff;
  background-color: #393939; }

@media (max-width: 1100px) {
  .row {
    flex-wrap: wrap; } }
@media (max-width: 900px) {
  .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px; }

  .input__model {
    max-width: 20%; } }
@media (max-width: 650px) {
  .input__model {
    max-width: 150px; } }
@media (max-width: 570px) {
  .row {
    grid-template-columns: repeat(1, 1fr); } }
/* .info {
  background-image: url(../img/bg-home-dark.png);
  background-color: $bg-color;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
}
.row__info {
  display: flex;

  column-gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.info__img {
  margin-top: 60px;
  margin-bottom: 60px;
}
.info__content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.info__text {
  order: 3;
  line-height: 1.875;
  font-size: 18px;
  color: $white-color;
}
.info__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 80px;
  color: $white-color;
  order: 2;
  padding-bottom: 18px;
}
.info__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  color: $white-color;
  order: 1;
  padding-bottom: 13px;
} */
.info {
  background-image: url(../img/bg-banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-bottom: 45px; }

.row__info {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px; }

.info__content {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  row-gap: 10px; }

.info__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.11;
  color: #1a1b1e;
  order: 2; }

.info__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: var(#1a1b1e);
  order: 1; }

.info__text {
  order: 3; }

.row-custom {
  display: flex;
  column-gap: 30px; }

.custom__box {
  position: relative;
  display: flex;
  width: 33.3%;
  padding: 30px 40px 30px 40px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: linear-gradient(110deg, #2b236e 0%, #7141b1 100%);
  box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.2);
  margin-top: -50px;
  z-index: 2; }

.custom__box-text {
  color: #fff;
  font-size: 22px;
  line-height: 36px;
  font-weight: 700;
  word-wrap: break-word;
  width: 250px; }

.custom__box-img {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  top: -88px;
  right: -88px;
  width: 188px;
  height: 188px;
  color: #fff; }

.transform {
  background-color: #f2f2f2;
  padding-top: 45px; }

.transform__content {
  display: flex;
  justify-content: space-between;
  row-gap: 25px;
  margin-bottom: 45px; }

.transform__content-title {
  display: flex;
  flex-direction: column; }

.transform__title {
  order: 2;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #1a1b1e;
  line-height: 1.33;
  font-size: 36px; }

.transform__subtitle {
  order: 1;
  color: #7141b1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 8px; }

.transform__content_text {
  max-width: 700px;
  line-height: 2.33; }

.transform__block {
  display: flex;
  justify-content: space-between;
  row-gap: 10px; }

.block__inner1 {
  background-image: url(/img/flipbox1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: -90px;
  height: 270px; }

.block__inner2 {
  background-image: url(/img/flipbox1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: -90px; }

.block__inner3 {
  background-image: url(/img/flipbox1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: -90px; }

.services {
  margin-top: 150px; }

.row__services {
  display: flex;
  flex-direction: column-reverse; }

.services__title {
  max-width: 500px;
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #1a1b1e;
  line-height: 1.33;
  font-size: 36px; }

.services__subtitle {
  color: #7141b1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 8px; }

.services__item {
  margin: 10px 0px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  justify-items: center;
  justify-content: space-around; }

.services__block1 {
  max-width: 300px;
  position: relative; }
  .services__block1::before {
    content: "\f047";
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px; }

.services__block2 {
  max-width: 300px; }

.services__block3 {
  max-width: 300px; }

.services__block4 {
  max-width: 300px; }

.services__block5 {
  max-width: 300px; }

.services__block6 {
  max-width: 300px; }

.services__block-title {
  margin-bottom: 17px;
  font-weight: 700;
  color: #1a1b1e;
  font-size: 22px;
  line-height: 1.2; }

.services__block-text {
  line-height: 2; }

.technology {
  background-color: #211f3b;
  margin: 25px 0px;
  padding: 55px 0px; }

.row__technology {
  display: flex; }

.technology__content {
  width: 50%;
  padding-top: 50px;
  display: flex;
  flex-direction: column; }

.technology__title {
  max-width: 500px;
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #fff;
  line-height: 1.33;
  font-size: 36px;
  order: 2; }

.technology__subtitle {
  order: 1;
  color: #7141b1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 15px; }

.technology__text {
  color: #fff;
  order: 3;
  line-height: 2; }
  .technology__text + .technology__text {
    padding-top: 10px; }

.technology__cars {
  display: flex;
  width: 50%;
  column-gap: 35px;
  padding-top: 50px; }

.technology__cars-colum1 {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  row-gap: 60px; }

.technology__cars-colum2 {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 40px;
  row-gap: 60px; }

.technology__car {
  margin: -30px 0px 0px 0px;
  position: relative; }

.technology__car-img {
  filter: grayscale(90%);
  height: auto;
  max-width: 100%;
  transition: all 0.3 ease; }
  .technology__car-img:hover {
    filter: none; }

.technology__car-title {
  margin-bottom: 17px;
  font-weight: 700;
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
  position: absolute;
  top: 5px;
  left: 10%;
  z-index: 2; }

/*# sourceMappingURL=main.css.map */
