$base-color: #6d6d6d;
$accept-color: #7141b1;
$black-color: #1a1b1e;
$white-color: #fff;
$gradient-color: linear-gradient(
  135deg,
  rgba(6, 147, 227, 1) 0%,
  rgb(155, 81, 224) 100%
);
$bg-color: #f2f2f2;
$bg-color-dark: #211f3b;
$hover-color-menu: #43baff;
$border-color: hsla(225, 47%, 15%, 0.149);
