.main {
}

.info {
  background-image: url(../img/bg-banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-bottom: 125px;
}

.row__info {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
}
.info__img {
}
.info__content {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.info__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.11;
  color: $black-color;
  order: 2;
}
.info__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: var($black-color);
  order: 1;
}
.info__text {
  order: 3;
}
