/* section info */

@media (max-width: 1800px) {
  .info__img img {
    max-width: 450px;
  }

  .row__info {
    justify-content: center;
  }
}

@media (max-width: 1590px) {
  .info__img img {
    max-width: 350px;
  }
}

@media (max-width: 1400px) {
  .info {
    background-image: none;
  }
  .info__img img {
    max-width: 200px;
  }
}

@media (max-width: 1200px) {
  .block__inner3,
  .block__inner2,
  .block__inner1 {
    margin-bottom: -90px;
    height: 250px;
    width: 320px;
  }
  .transform__text {
    font-size: 18px;
  }
  .transform__title {
    font-size: 30px;
  }
  .transform__content_text {
    max-width: 500px;
  }
  .row__services {
    padding-left: 45px;
  }
}
@media (max-width: 1000px) {
  .info__title {
    font-size: 50px;
  }
  .transform__content {
    column-gap: 15px;
  }
  .transform__content_text {
    max-width: 450px;
  }
  .services__block1,
  .services__block2,
  .services__block3,
  .services__block4,
  .services__block5,
  .services__block6 {
    padding: 40px 30px;
  }
}

@media (max-width: 850px) {
  .transform__content_text {
    max-width: 400px;
  }
  .services {
    margin-top: 130px;
  }
  .services__item {
    column-gap: 15px;
    row-gap: 20px;
  }

  .services__title {
    font-size: 30px;
  }

  .services__block1,
  .services__block2,
  .services__block3,
  .services__block4,
  .services__block5,
  .services__block6 {
    padding: 25px 20px;
  }

  .transform__block {
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }
  .block__inner3,
  .block__inner2,
  .block__inner1 {
    margin-bottom: 0px;
    height: 300px;
    width: 370px;
  }
  .transform__title {
    font-size: 25px;
  }
}
@media (max-width: 750px) {
  .transform__content {
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .info__title {
    font-size: 40px;
  }
  .services__title {
    font-size: 25px;
  }
  .info__subtitle {
    font-size: 20px;
  }
  .info__img img {
    width: 200px;
    height: auto;
  }
  .services__item {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

@media (max-width: 590px) {
  .row__info {
    flex-direction: column;
    row-gap: 15px;
  }
  .info__content {
    align-items: center;
  }
  .info__title {
    font-size: 30px;
  }

  .info__subtitle {
    font-size: 18px;
  }
  .info__img img {
    width: 100px;
    height: auto;
  }
}
@media (max-width: 590px) {
  .services__title {
    font-size: 20px;
  }
  .services__item {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .services {
    margin-top: 230px;
    margin-bottom: 30px;
  }
}
